<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>RideShare/Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap" rel="stylesheet">

</head>


<body class="bg-primary">


  <div class="banner">
    <h1>RideNow</h1>
    <p>The rideshare app made only for students</p>
 </div>

 <br>
        <img src="carlogo.jpg" alt="logo">

        <br>

        <button name="sign" class="sign"><a href=signIn.ejs>Sign Up</a></button>

        <br>

        <button name="log" class="log"><a href=login.ejs>Log in</a></button>

        <h2>Note: This application need to access your location in order to work</h2>
</body>
</html>